<h1>Your Profile</h1>

<h2>Name: <%= @current_tenant.name %> </h2>

<p> 
    <strong> Age:</strong> <%= @current_tenant.age %> years old 
</p>

<%= form_for @current_tenant do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>
    <%= f.label :age %>
    <%= f.number_field :age %><br>
    <%= f.label :password %>
    <%= f.text_field :password%>
    <br>
    <%= f.submit "Update Info", ({:class => "btn btn-outline-secondary btn-sm"}) %>
<% end %> 
<br/>

<%= button_to "Delete profile", @current_tenant, :class => "btn btn-danger", :method => :delete %>
